.footer-bg{
    background-image: url(../assets/img/illustrations/footer-bg.png);
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    width:100%;
    will-change: transform, opacity, filter;
    z-index: 0;
    background: linear-gradient(208.18deg, #51B4F7 9.05%, #5A98F2 76.74%);
    min-height: 50%;
}